name: myarrstack

services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    network_mode: bridge
    ports:
      - 8888:8888/tcp    # HTTP proxy #Gluetun
      - 8388:8388/tcp    # Shadowsocks #Gluetun
      - 8388:8388/udp    # Shadowsocks #Gluetun

      - 8070:8070        # qbittorrent
      - 6881:6881        # qbittorrent
      - 6881:6881/udp    # qbittorrent

      - 6767:6767        # bazarr
      - 8686:8686        # lidarr
      - 9696:9696        # prowlarr
      - 8787:8787        # readarr
      - 7878:7878        # radarr
      - 8090:8080        # sabnzbd
      - 8989:8989        # sonarr

      #- 5055:5055       # overseer/jellyseer

      #- 8096:8096       # jellyfin
      #- 8920:8920       # jellyfin optional  UI HTTPS
      #- 7359:7359/udp   # jellyfin optional  proprietary discovery protocol
      #- 1900:1900/udp   # jellyfin optional  Simple Service Discovery Protocol

      #- 32400:32400/tcp # plex
      #- 8324:8324/tcp   # plex
      #- 32469:32469/tcp # plex
      #- 1900:1900/udp   # plex
      #- 32410:32410/udp # plex
      #- 32412:32412/udp # plex
      #- 32413:32413/udp # plex
      #- 32414:32414/udp # plex

      #- 8181:8181/tcp   # tautulli

      # NOT INSTALLED
      #- 6881:6881/udp # Deluge Incoming port UDP
      #- 58846:58846 # optional # Deluge Outgoing Port TCP
      #- 8191:8191 # Flaresover UI
    volumes:
      - /data/config/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_STATUS_FILE=/gluetun/forwarded_port
      - SERVER_REGIONS="Norway","DE Berlin","DE Frankfurt","DE Germany Streaming Optimized"
      - TZ=America/New_York
      - UPDATER_PERIOD=24h
      - PUID=1000
      - PGID=1000

  #############################
  #### qbittorrent
  #############################
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8070
      - TORRENTING_PORT=6881
    volumes:
      - /data/config/qbittorrent:/config
      - /data/media/downloads:/media/downloads #optional
    network_mode: service:gluetun
    #ports:
    #  - 8070:8070
    #  - 6881:6881
    #  - 6881:6881/udp
    restart: unless-stopped
  #############################
  #### plex
  #############################
  pms-docker:
    container_name: plex
    image: plexinc/pms-docker:plexpass
    restart: unless-stopped
    network_mode: bridge
    #network_mode: service:gluetun
    ports:
      - 32400:32400/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - PLEX_CLAIM=claim-F2xTrxevgwWu1a4wHwTm
      - TZ=America/New_York
      - CHANGE_CONFIG_DIR_OWNERSHIP="true"
      - ADVERTISE_IP="http://hawkstech.org:32400"
    hostname: awhawksPlexServer
    devices:
      - /dev/dri:/dev/dri # Pass through the graphics device
    volumes:
      - /data/config/plex:/config
      - /data/transcode:/transcode
      - /data/media:/media
  #############################
  #### tautulli
  #############################
  tautulli-docker:
    container_name: tautulli
    image: tautulli/tautulli:latest
    restart: unless-stopped
    network_mode: bridge
    #network_mode: service:gluetun
    ports:
      - 8181:8181/tcp
    volumes:
      - /data/config/plex/Library/Application Support/Plex Media Server/Logs:/plexLogs
      - /data/config/tautulli:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
  #############################
  #### jellyfin
  #############################
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - JELLYFIN_PublishedServerUrl=http://192.168.60.8 #optional
    volumes:
      - /data/config/jellyfin:/config
      - /data/media:/media
    network_mode: bridge
    #network_mode: service:gluetun
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      #- 1900:1900/udp #optional
    restart: unless-stopped
#TODO  #############################
#TODO  #### bazarr
#TODO  #############################
#TODO  bazarr:
#TODO    image: lscr.io/linuxserver/bazarr:latest
#TODO    container_name: bazarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/config/bazarr:/config
#TODO      - /data/media:/media #optional
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 6767:6767
#TODO    restart: unless-stopped
  #############################
  #### jellyseer
  #############################
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/New_York
    volumes:
      - /data/config/jellyseerr:/app/config
    restart: unless-stopped
    network_mode: bridge
    #network_mode: service:gluetun
    ports:
      - 5055:5055 # Jellyseer
#TODO  #############################
#TODO  #### lidarr
#TODO  #############################
#TODO  lidarr:
#TODO    image: lscr.io/linuxserver/lidarr:latest
#TODO    container_name: lidarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/backup/lidarr:/backup
#TODO      - /data/config/lidarr:/config
#TODO      - /data/media:/media #optional
#TODO      - /data/media/downloads:/media/downloads #optional
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 8686:8686
#TODO    restart: unless-stopped
#TODO  #############################
#TODO  #### overseer
#TODO  #############################
#TODO  #TODO overseerr:
#TODO  #TODO   image: lscr.io/linuxserver/overseerr:latest
#TODO  #TODO   container_name: overseerr
#TODO  #TODO   environment:
#TODO  #TODO     - PUID=1000
#TODO  #TODO     - PGID=1000
#TODO  #TODO     - TZ=America/New_York
#TODO  #TODO   volumes:
#TODO  #TODO     - /data/config/overseerr:/config
#TODO  #TODO   network_mode: bridge
#TODO  #TODO   #network_mode: service:gluetun
#TODO  #TODO   ports:
#TODO  #TODO     - 5055:5055
#TODO  #TODO   restart: unless-stopped
#TODO  #############################
#TODO  #### prowlarr
#TODO  #############################
#TODO  prowlarr:
#TODO    image: lscr.io/linuxserver/prowlarr:latest
#TODO    container_name: prowlarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/backup/prowlarr:/backup
#TODO      - /data/config/prowlarr:/config
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 9696:9696
#TODO    restart: unless-stopped
#TODO  #############################
#TODO  #### radarr
#TODO  #############################
#TODO  radarr:
#TODO    image: lscr.io/linuxserver/radarr:latest
#TODO    container_name: radarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/backup/radarr:/backup
#TODO      - /data/config/radarr:/config
#TODO      - /data/media:/media #optional
#TODO      - /data/media/downloads:/media/downloads #optional
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 7878:7878
#TODO    restart: unless-stopped
#TODO  #############################
#TODO  #### radarr
#TODO  #############################
#TODO  readarr:
#TODO    image: lscr.io/linuxserver/readarr:develop
#TODO    container_name: readarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/backup/readarr:/backup
#TODO      - /data/config/readarr:/config
#TODO      - /data/media/downloads:/data/downloads
#TODO      - /data/media:/data/media
#TODO    restart: unless-stopped
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    # ports:
#TODO    #   - 8787:8787 # Readarr UI
#TODO  #############################
#TODO  #### sabnzbd
#TODO  #############################
#TODO  sabnzbd:
#TODO    image: lscr.io/linuxserver/sabnzbd:latest
#TODO    container_name: sabnzbd
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/config/sabnzbd:/config
#TODO      - /data/media/downloads/incomplete:/media/downloads/incomplete #optional
#TODO      - /data/media/downloads:/media/downloads #optional
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 8090:8080
#TODO    restart: unless-stopped
#TODO  #############################
#TODO  #### sonarr
#TODO  #############################
#TODO  sonarr:
#TODO    image: lscr.io/linuxserver/sonarr:latest
#TODO    container_name: sonarr
#TODO    environment:
#TODO      - PUID=1000
#TODO      - PGID=1000
#TODO      - TZ=America/New_York
#TODO    volumes:
#TODO      - /data/config/sonarr:/config
#TODO      - /data/media:/media #optional
#TODO      - /data/media/downloads:/media/downloads #optional
#TODO    #network_mode: bridge
#TODO    network_mode: service:gluetun
#TODO    #ports:
#TODO    #  - 8989:8989
#TODO    restart: unless-stopped
