# The Ultimate CASA OS Media Server All In One KL Tech Videos Compose file.
# www.youtube.com/@kltechvideos/videos
# This compsose is shown and used in my latest video EP3 The ultimate download station.
# Located here... https://youtu.be/Ji1p_ZWVFDU

name: myarrstack

services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy #Gluetun
      - 8388:8388/tcp # Shadowsocks #Gluetun
      - 8388:8388/udp # Shadowsocks #Gluetun
      - 8112:8112 # Deluge UI
      - 6881:6881 # Deluge Incoming port TCP
      - 6881:6881/udp # Deluge Incoming port UDP
      - 58846:58846 # optional # Deluge Outgoing Port TCP
      - 8090:8080 # SabNZB UI
      - 9696:9696 # Prowlarr UI
      - 8989:8989 # Sonarr UI
      - 7878:7878 # Radarr UI
      - 8686:8686 # Lidarr UI
      - 8787:8787 # Readarr UI
      - 8191:8191 # Flaresover UI
      #- 5055:5055 # Jellyseer
      #- 8096:8096 # Jellyfin UI HTTP
      #- 8920:8920 # optional # Jellyfin UI HTTPS
      #- 7359:7359/udp # optional # Jellyfin proprietary discovery protocol
      #- 1900:1900/udp # optional # Jellyfin Simple Service Discovery Protocol
    volumes:
      - /data/docker/state/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_STATUS_FILE=/gluetun/forwarded_port
      - SERVER_REGIONS="Norway","DE Berlin","DE Frankfurt","DE Germany Streaming Optimized"
      - TZ=America/New_York
      - UPDATER_PERIOD=24h
      - PUID=1000
      - PGID=1000

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    devices:
      - /dev/dri/:/dev/dri/
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      - /data/docker/state/jellyfin/library:/config
      - /data/media:/data/media
    restart: unless-stopped
    #network_mode: service:gluetun
    ports:
      - 8096:8096 # Jellyfin UI HTTP
      - 8920:8920 # optional # Jellyfin UI HTTPS
      - 7359:7359/udp # optional # Jellyfin proprietary discovery protocol
      - 1900:1900/udp # optional # Jellyfin Simple Service Discovery Protocol

  deluge:
    image: lscr.io/linuxserver/deluge:latest
    container_name: deluge
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - DELUGE_LOGLEVEL=error
    volumes:
      - /data/docker/state/deluge:/config
      - /data/downloads/complete:/data/downloads
      - /data/downloads/incomplete:/data/incomplete-downloads
      - /data/docker/state/gluetun:/pia:ro
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8112:8112 # Deluge UI
    #   - 6881:6881 # Deluge Incoming port TCP
    #   - 6881:6881/udp # Deluge Incoming port UDP
    #   - 58846:58846 # optional # Deluge Outgoing Port TCP

  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/sabnzb/config:/config
      - /data/docker/state/backup/sabnzb:/backup
      - /data/downloads/complete:/data/downloads
      - /data/downloads/incomplete:/data/incomplete-downloads
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8080:8080 # SabNZB UI

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/prowlarr/config:/config
      - /data/docker/state/backup/prowlarr:/backup
      - /data/downloads/complete:/data/downloads
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #  - 9696:9696 # Prowlarr UI

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/sonarr/config:/config
      - /data/docker/state/backup/sonarr:/backup
      - /data/downloads/complete:/data/downloads
      - /data/media/slpahle/tv:/data/media/slpahle/tv
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8989:8989 # Sonarr UI

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/radarr/config:/config
      - /data/docker/state/backup/radarr:/backup
      - /data/downloads/complete:/data/downloads
      - /data/media/slpahle/movies:/data/media/slpahle/movies
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 7878:7878 # Radarr UI

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/lidarr/config:/config
      - /data/docker/state/backup/lidarr:/backup
      - /data/downloads/complete:/data/downloads
      - /data/media/slpahle/music:/data/media/slpahle/music
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8686:8686 # Lidarr UI

  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/docker/state/readarr/config:/config
      - /data/docker/state/backup/readarr:/backup
      - /data/downloads/complete:/data/downloads
      - /data/media/slpahle/books:/data/media/slpahle/books
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8787:8787 # Readarr UI

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - LOG_LEVEL=${LOG_LEVEL:-info}
      - LOG_HTML=${LOG_HTML:-false}
      - CAPTCHA_SOLVER=${CAPTCHA_SOLVER:-none}
      - TZ=America/New_York
      - PUID=1000
      - PGID=1000
    restart: unless-stopped
    network_mode: service:gluetun
    # ports:
    #   - 8191:8191 # Flaresover UI

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=debug
      - TZ=America/New_York
    volumes:
      - /data/docker/state/jellyseerr/config:/app/config
    restart: unless-stopped
    network_mode: service:gluetun
    ports:
      - 5055:5055 # Jellyseer

  #homarr:
  #  image: ghcr.io/ajnart/homarr:latest
  #  container_name: homarr
  #  environment:
  #    - BASE_URL=
  #  volumes:
  #    - /data/docker/state/Homarr/config:/app/data/configs
  #    - /data/docker/state/Homarr/data:/data
  #    - /data/docker/state/Homarr/icons:/app/public/icons
  #  restart: unless-stopped
  #  ports:
  #    - 9222:7575
