name: myarrstack

services:
  #############################
  #### glutun
  #############################
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun # If running on an LXC see readme for more info.
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_STATUS_FILE=/gluetun/forwarded_port
      - SERVER_REGIONS="Norway,DE Berlin,DE Frankfurt,DE Germany Streaming Optimized"
      - TZ=America/New_York
      - UPDATER_PERIOD=24h
      - PUID=1000
      - PGID=1000
    volumes:
      - /data/config/gluetun:/gluetun
    ports:
      - 8888:8888/tcp    # HTTP proxy #Gluetun
      - 8388:8388/tcp    # Shadowsocks #Gluetun
      - 8388:8388/udp    # Shadowsocks #Gluetun

      - 8081:8081        # qbittorrent web interface
      - 6881:6881        # qbittorrent torrent port
      - 6881:6881/udp    # qbittorrent

      - 8090:8080        # sabnzbd
    network_mode: bridge
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 20s
      timeout: 10s
      retries: 5

  #############################
  #### qbittorrent
  #############################
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8081 # must match "qbittorrent web interface" port number in gluetun's service above
      - DOCKER_MODS=ghcr.io/techclusterhq/qbt-portchecker:main
      #- PORTCHECKER_GLUETUN_API_KEY=<snip>
    volumes:
      - /data/config/qbittorrent:/config
      - /data/media/downloads:/media/downloads #optional
    #ports:
    #  - 8081:8081
    #  - 6881:6881
    #  - 6881:6881/udp
    network_mode: service:gluetun
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 60s
      retries: 3
      start_period: 20s
      timeout: 10s
    labels:
      - deunhealth.restart.on.unhealthy=true

  #############################
  #### sabnzbd
  #############################
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/sabnzbd:/config
      - /data/media/downloads/incomplete:/media/downloads/incomplete #optional
      - /data/media/downloads:/media/downloads #optional
    #ports:
    #  - 8090:8080
    #network_mode: bridge
    network_mode: service:gluetun
