name: myarrstack

services:
  #############################
  #### glutun
  #############################
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun # If running on an LXC see readme for more info.
    environment:
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_STATUS_FILE=/gluetun/forwarded_port
      - SERVER_REGIONS="Norway,DE Berlin,DE Frankfurt,DE Germany Streaming Optimized"
      - TZ=America/New_York
      - UPDATER_PERIOD=24h
      - PUID=1000
      - PGID=1000
    volumes:
      - /data/config/gluetun:/gluetun
    ports:
      - 8888:8888/tcp    # HTTP proxy #Gluetun
      - 8388:8388/tcp    # Shadowsocks #Gluetun
      - 8388:8388/udp    # Shadowsocks #Gluetun

      - 8081:8081        # qbittorrent web interface
      - 6881:6881        # qbittorrent torrent port
      - 6881:6881/udp    # qbittorrent
      # NOT INSTALLED
      #- 6881:6881/udp # Deluge Incoming port UDP
      #- 58846:58846 # optional # Deluge Outgoing Port TCP

      #- 6767:6767        # bazarr
      #- 8096:8096        # jellyfin
      #- 8920:8920        # jellyfin optional  UI HTTPS
      #- 7359:7359/udp    # jellyfin optional  proprietary discovery protocol
      #- 1900:1900/udp    # jellyfin optional  Simple Service Discovery Protocol
      #- 8686:8686        # lidarr
      #- 5055:5055        # overseer/jellyseer
      - 9696:9696        # prowlarr
      #- 8787:8787        # readarr
      #- 7878:7878        # radarr
      - 8090:8080        # sabnzbd
      #- 8989:8989        # sonarr

      #- 32400:32400/tcp # plex
      #- 8324:8324/tcp   # plex
      #- 32469:32469/tcp # plex
      #- 1900:1900/udp   # plex
      #- 32410:32410/udp # plex
      #- 32412:32412/udp # plex
      #- 32413:32413/udp # plex
      #- 32414:32414/udp # plex

      #- 8181:8181/tcp   # tautulli
    network_mode: bridge
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 20s
      timeout: 10s
      retries: 5

  #############################
  #### qbittorrent
  #############################
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - WEBUI_PORT=8081 # must match "qbittorrent web interface" port number in gluetun's service above
      - DOCKER_MODS=ghcr.io/techclusterhq/qbt-portchecker:main
      #- PORTCHECKER_GLUETUN_API_KEY=<snip>
    volumes:
      - /data/config/qbittorrent:/config
      - /data/media/downloads:/media/downloads #optional
    #ports:
    #  - 8081:8081
    #  - 6881:6881
    #  - 6881:6881/udp
    network_mode: service:gluetun
    healthcheck:
      test: ping -c 1 www.google.com || exit 1
      interval: 60s
      retries: 3
      start_period: 20s
      timeout: 10s
    labels:
      - deunhealth.restart.on.unhealthy=true

  #############################
  #### bazarr
  #############################
  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/bazarr:/config
      - /data/media:/media #optional
    ports:
      - 6767:6767
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### decluttarr
  #############################
  decluttarr:
    image: ghcr.io/manimatter/decluttarr:dev
    container_name: decluttarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      #- /data/config/decluttarr/config.yaml:/app/config/config.yaml
      - /data/config/decluttarr:/app/config
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### deunhealth
  #############################
  deunhealth:
    image: qmcgaw/deunhealth
    container_name: deunhealth
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - LOG_LEVEL=info
      - HEALTH_SERVER_ADDRESS=127.0.0.1:9999
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    network_mode: "none"

  #############################
  #### jellyseer
  #############################
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - LOG_LEVEL=info
    volumes:
      - /data/config/jellyseerr:/app/config
    ports:
      - 5054:5055
    network_mode: bridge
    #network_mode: service:gluetun
    healthcheck:
      test: wget --no-verbose --tries=1 --spider http://localhost:5055/api/v1/status || exit 1
      start_period: 20s
      timeout: 3s
      interval: 15s
      retries: 3
    labels:
      - traefik.enable=true
      - traefik.http.routers.nginx2-slpahle-http.rule=Host(`requests.slpahle.com`)
      - traefik.http.routers.nginx2-slpahle-http.entrypoints=web
      - traefik.http.routers.nginx2-slpahle-https.tls=true
      - traefik.http.routers.nginx2-slpahle-https.tls.certresolver=cloudflare
      - traefik.http.routers.nginx2-slpahle-https.rule=Host(`requests.slpahle.com`)
      - traefik.http.routers.nginx2-slpahle-https.entrypoints=websecure
      - traefik.http.routers.nginx2-whoosajiggawha-http.rule=Host(`requests.whoosajiggawha.us`)
      - traefik.http.routers.nginx2-whoosajiggawha-http.entrypoints=web
      - traefik.http.routers.nginx2-whoosajiggawha-https.tls=true
      - traefik.http.routers.nginx2-whoosajiggawha-https.tls.certresolver=cloudflare
      - traefik.http.routers.nginx2-whoosajiggawha-https.rule=Host(`requests.whoosajiggawha.us`)
      - traefik.http.routers.nginx2-whoosajiggawha-https.entrypoints=websecure
  #TODO #############################
  #TODO #### overseer
  #TODO #############################
  #TODO overseerr:
  #TODO   image: lscr.io/linuxserver/overseerr:latest
  #TODO   container_name: overseerr
  #TODO   restart: unless-stopped
  #TODO   environment:
  #TODO     - PUID=1000
  #TODO     - PGID=1000
  #TODO     - TZ=America/New_York
  #TODO   volumes:
  #TODO     - /data/config/overseerr:/config
  #TODO   ports:
  #TODO     - 5054:5055
  #TODO   network_mode: bridge
  #TODO   #network_mode: service:gluetun

  #############################
  #### homarr
  #############################
  homarr:
    image: ghcr.io/homarr-labs/homarr:latest
    container_name: homarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - SECRET_ENCRYPTION_KEY=<snip>
    volumes:
      - /data/config/homarr:/appdata
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 7575:7575
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### huntarr
  #############################
  huntarr:
    image: ghcr.io/plexguide/huntarr:latest
    container_name: huntarr
    restart: unless-stopped
    ports:
      - "9705:9705"
    volumes:
      - /data/config/huntarr:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### prowlarr
  #############################
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    depends_on:
      gluetun:
        condition: service_healthy
        restart: true
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /data/config/prowlarr:/config
      - /data/backup/prowlarr:/backup
    #ports:
    #  - 9696:9696
    #network_mode: bridge
    network_mode: service:gluetun

  #############################
  #### radarr
  #############################
  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /data/config/radarr:/config
      - /data/media:/media #optional
      - /data/media/downloads:/media/downloads #optional
      - /data/backup/radarr:/backup
    ports:
      - 7878:7878
    network_mode: bridge
    #network_mode: service:gluetun
  #############################
  #### readarr
  #############################
  readarr:
    image: lscr.io/linuxserver/readarr:develop
    container_name: readarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/readarr:/config
      - /data/media/downloads:/data/downloads
      - /data/media:/data/media
      - /data/backup/readarr:/backup
    ports:
      - 8787:8787 # Readarr UI
    network_mode: bridge
    #network_mode: service:gluetun
  #############################
  #### sabnzbd
  #############################
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/sabnzbd:/config
      - /data/media/downloads/incomplete:/media/downloads/incomplete #optional
      - /data/media/downloads:/media/downloads #optional
    #ports:
    #  - 8090:8080
    #network_mode: bridge
    network_mode: service:gluetun
  #############################
  #### sonarr
  #############################
  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /data/config/sonarr:/config
      - /data/media:/media #optional
      - /data/media/downloads:/media/downloads #optional
    ports:
      - 8989:8989
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### lidarr
  #############################
  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/lidarr:/config
      - /data/media:/media #optional
      - /data/media/downloads:/media/downloads #optional
      - /data/backup/lidarr:/backup
    ports:
      - 8686:8686
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### plex
  #############################
  pms-docker:
    container_name: plex
    image: plexinc/pms-docker:plexpass
    restart: unless-stopped
    devices:
      - /dev/dri:/dev/dri # Pass through the graphics device
    hostname: awhawksPlexServer
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - TZ=America/New_York
      - PLEX_CLAIM=claim-F2xTrxevgwWu1a4wHwTm
      - CHANGE_CONFIG_DIR_OWNERSHIP="true"
      - ADVERTISE_IP="http://hawkstech.org:32400"
    volumes:
      - /data/config/plex:/config
      - /data/transcode:/transcode
      - /data/media:/media
    ports:
      - 32400:32400/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### tautulli
  #############################
  tautulli-docker:
    container_name: tautulli
    image: tautulli/tautulli:latest
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
    volumes:
      - /data/config/plex/Library/Application Support/Plex Media Server/Logs:/plexLogs
      - /data/config/tautulli:/config
    ports:
      - 8181:8181/tcp
    network_mode: bridge
    #network_mode: service:gluetun

  #############################
  #### jellyfin
  #############################
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - JELLYFIN_PublishedServerUrl=http://192.168.60.8 #optional
    volumes:
      - /data/config/jellyfin:/config
      - /data/media:/media
    ports:
      - 8096:8096
      - 8920:8920 #optional
      - 7359:7359/udp #optional
      #- 1900:1900/udp #optional
    network_mode: bridge
    #network_mode: service:gluetun
